:root {
    --roxo: rgb(47, 47, 114);
}

.navbar {
    background-color: var(--roxo) !important;
}

.divisao {
    background-color: var(--roxo) !important;
    color: white !important;
    text-align: center !important;
    padding: 2em !important;
}

.sec-pacotes {
    margin: 0 10% 0 !important;
    justify-content: center !important;
    margin: 1% !important;
}

.card {
    margin: 0 1% 1% !important;
    padding: 1% !important;
}

.card p {
    text-align: justify !important;
}

.card h4 {
    color: brown !important;
}

.sec-contato {
    margin-bottom: 10% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
}

footer {
    background-color: var(--roxo) !important;
    color: white !important;
    padding: 1em !important;
}